.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    background-color: rgb(190, 142, 93);
}
#gameWon {
    display: none;
}
#gameLost {
    display: none;
}


