* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 75%;
    grid-template-areas: "aside main";
}
main {
    grid-area: main;
    background-color: grey;
    grid-column-start: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.play-game {
    width: 100px;
    height: 100px;
    border-radius: 50px;  
}
aside {
    grid-area: aside;
    background-color: blue;
    grid-column-start: 1;
    height: 100%;    
}
.nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    grid-template-areas: 
            "game1"
            "game2"
            "game3"
            "game4";
}
.game {
    background-color: black;
    color: #fff;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.game:hover {
    box-shadow: 0px 0px 20px 5px #000;
}
.game1 {
    grid-area: game1;
}
.game2 {
    grid-area: game2
}
.game3 {
    grid-area: game3
}
.game4 {
    grid-area: game4
}