* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    height: 100vh;
    padding: 30px;
}

#start-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.btn {
    width: 400px;
    height: 400px; 
    animation: rotate 4s linear infinite;  
}
.btn:hover {
    cursor: pointer;
}
.btn:hover #start-game {
    fill: #000;
}
.btn:hover #polygon-1 {
    fill: #91A436;
}
.btn:hover #polygon-2 {
    fill: #882D61;
}

#polygon-2 {
    animation: rotate2 10s infinite linear;
    transform-origin: center;
}
@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
#polygon-1 {
    animation: rotate1 10s infinite linear;
    transform-origin: center;
}
@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}
#main {
    position:absolute;
    top: 70px;
    left: 5%;
    display: none;
    background-color: #fff;
    width: 90%;
    height: 700px;
    color: #fff;
    animation: initiate 2s forwards;

}

@keyframes initiate {
    0% { 
        transform: scale(0);
        opacity: 0;
    }
    30% { 
        transform: scale(0);
        opacity: 0;
    } 
    100% { 
        transform: scale(1);
        opacity: 1;
    }
}
.end {
    animation: end 2s forwards;
}
@keyframes end {
    from { 
        transform: scale(1);
        opacity: 1;
    }
    to { 
        transform: scale(0);
        opacity: 0;
    }
}
