.start {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#start-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding-top: 100px;
    width: 300px;
    height: 300px; 
    animation: rotate 4s linear infinite;  
    transition: 1s;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.btn:hover #start-game {
    fill: #882D61;
}
.btn:hover #polygon-1 {
    fill: #91A436;
}
.btn:hover #polygon-2 {
    fill: #882D61;
}

#polygon-2 {
    animation: rotate2 10s infinite linear;
    transform-origin: center;
}
@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
#polygon-1 {
    animation: rotate1 10s infinite linear;
    transform-origin: center;
}
@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}

p {
    color: #fff;
    text-align: center;
}
