.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    background-color: rgb(255, 255, 255);
}
#gameWon {
    display: none;
}
#gameLost {
    display: none;
}