* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    height: 100vh;
}
.main {
    background-color: #fff;
}
.container {
    background-color: #fff;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    color: #fff;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, +10%);
}
