.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 700%;
}
.game1 {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: calc(50% - 150px);
    margin-top: 10px;
}
.box {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.box img {
    width:100px;
    height: 80px;
}
.box .box4 {
    width: 100%;
}

.wrapper {
    background-color: #fff;
    width: 100%;
    height: 10px;
    align-content: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.score {
    height: 200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;
    height: 200px;
}
.result {
    background-color: #fff;
    color: #000;
    text-align: center;
}
#userInput {
    transform: rotate(90deg) scaleX(-1);
}
#computer {
    transform: rotate(-90deg);
}
.btn {
    width: 100%;
    height: 700px;
}

