* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background-color: #000;
    display: flex;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.memory-c {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
}

.memory-c:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.front-side, .back-side {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    background-color: blue;
}
