* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    height: 100vh;
    padding: 30px;
}
.container {
    background-color: #fff;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    
}
h1 {
    color: #fff;
    text-align: center;
}
.box {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.box img {
    width:100px;
    height: 80px;
}
.image:hover { 
    transform: scale(1.3);
}


.wrapper {
    background-color: #fff;
    width: 100%;
    height: 50%;
    align-content: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.choice {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
}
.result {
    background-color: #fff;
    color: #000;
    text-align: center;
}

/* Animations */
.thumb {
    display: none;
}
.left-result {
 
    animation: turn-left 5s linear;
}
@keyframes turn-left {
    0% {
        transform: rotate(0deg);
        opacity: 100%;
    } 50% {
        transform: rotate(-90deg);
        opacity: 100%;
    } 100% {
        transform: rotate(-90deg);
        opacity: 0%;

    }
}

.right-result {
    animation: turn-right 3s;
}
@keyframes turn-right {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(90deg);
    }
}
